#navbar {
	margin-bottom: 20px;
}

#navbar > div.row {
	margin-bottom: 0;
}

#navbar a.brand-logo {
	display: flex;
	align-items:center;
}

#navbar .brand-logo img {
  height: 56px;
  margin-right: 10px;
}

#navbar .tabs .tab {
	position: relative;
}

#navbar .tabs .tab a.active:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background: #fff;
}

.card div.row:last-child {
	margin-bottom: 0;
}

.input-field .helper-text {
	margin-left: 3rem;
}

.material-icons.prefix {
	line-height: 3rem;
}

@media (max-width: 600px) {
  #navbar .brand-logo img {
    height: 48px;
  }
  
  .container {
    width: 100%
  }
}
