#navbar {
	margin-bottom: 20px;
}

#navbar > div.row {
	margin-bottom: 0;
}

#navbar a.brand-logo {
	display: flex;
	align-items:center;
}

#navbar .brand-logo img {
  height: 56px;
  margin-right: 10px;
}

#navbar .tabs .tab {
	position: relative;
}

#navbar .tabs .tab a.active:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background: #fff;
}

form .row.heading {
	margin-bottom: 20px;
}

form .row, .modal .row, .card div.row:last-child, .collapsible-body > .row:last-child {
	margin-bottom: 0;
}

.input-field .helper-text {
	margin-left: 3rem;
}

.material-icons.prefix {
	line-height: 3rem;
}

form .row.date-input {
	margin-bottom: 20px;
}

form .row.date-input .row-label {
	margin-left: 3rem;
}

form .row.date-input .input-field {
	margin-top: 0;
	margin-bottom: 0;
}

.card.single-row-header .card-title {
	margin-bottom: 0;
}

.collapsible-body .row.row-group {
	margin-bottom: 40px;
}

a.tooltipped.tooltipped-icon {
	display: flex;
	color: rgba(0,0,0,0.87);
}

.collapsible-body i.small {
	font-size: 1.6rem;
}

.card.list > .card-content > .row {
	margin-bottom: 0;
	padding: 20px;
}

.card.list > .card-content > .row h5 {
  margin-top: 0;
}

@media (max-width: 600px) {
  #navbar .brand-logo img {
    height: 48px;
  }
  
  .container {
    width: 100%
  }
}
